# This is the systemd service file that you'll need to configure and install in the
# /lib/systemd/system/ directory so that systemd will know you to launch/start/stop your counter
# service.

[Unit]
Description=Simple counter progam that logs an increasing value every second.

[Service]
Type=simple
User=counter
Group=counter
WorkingDirectory=/opt/counter/
ExecStart=/opt/counter/bin/count
Restart=always

[Install]
WantedBy=multi-user.target
